.chart-container {
  display: flex;
  margin-top: 16px;
}

.gantt-table-container {
  white-space: nowrap;
  overflow-x: auto;

  table {
    min-width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  td,
  th {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }

  th,
  td {
    &:not(.icon) {
      padding: 0 10px;
    }
  }

  tr {
    height: 36px;
  }
}

.chart {
  overflow-x: auto;
}

::ng-deep .mat-icon-button {
  height: auto;
  line-height: 33px;
  width: 33px;
}
