<div class="mat-elevation-z1 chart-container">
  <div class="gantt-table-container">
    <table>
      <thead>
        <tr>
          <th class="icon"></th>
          <th>Task</th>
          <th>Owner</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Duration</th>
          <th>% Complete</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-task [ngForOf]="chartData" let-taskId="index">
          <tr class="task">
            <td class="icon">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editTask(task)">Edit</button>
                <button mat-menu-item (click)="addSubtask(task)">
                  Add sub-task
                </button>
                <button mat-menu-item (click)="deleteTask(task)" color="warn">
                  Delete
                </button>
              </mat-menu>
            </td>
            <td colspan="6">{{ task.name }}</td>
          </tr>
          <tr *ngFor="let subtask of task.subtasks; let id = index" class="subtask">
            <td class="icon">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editSubtask(taskId, id)">
                  Edit
                </button>
                <button
                  mat-menu-item
                  (click)="deleteSubtask(taskId, id)"
                  color="warn"
                >
                  Delete
                </button>
              </mat-menu>
            </td>
            <td>
              <div class="indent"></div>
              {{ subtask.name }}
            </td>
            <td>{{ subtask.owner }}</td>
            <td>{{ subtask.startDate?.format("DD MMM, YYYY") }}</td>
            <td>{{ subtask.endDate?.format("DD MMM, YYYY") }}</td>
            <td>{{ subtask.duration?.join(" ") }}</td>
            <td>{{ subtask.percentComplete }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <div class="chart"></div>
</div>
