<div class="gantt-table-container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Duration</th>
        <th>Start date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of parsedData">
        <td (click)="openForm(row)">
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td (click)="deleteRow(row)">
          <button mat-icon-button color="accent">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td>{{ row.label }}</td>
        <td>{{ row.duration.join(" ") }}</td>
        <td>{{ row.startDate.format("DD MMM, YYYY") }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d3-chart" #chart></div>
