.gantt-table-container {
  width: 300px;
  margin-top: 17px;
  white-space: nowrap;
  overflow-x: auto;

  table {
    min-width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead {
    color: rgba(0, 0, 0, 0.6);
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  td,
  th {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;

    &:not(.icon) {
      padding: 0 8px;
    }
  }

  td {
    height: 36px;
  }

  th {
    padding: 15px 10px;
  }
}

.d3-chart {
  overflow-x: auto;
}

::ng-deep .mat-icon-button {
  height: auto;
  line-height: 33px;
  width: 33px;
}
