<ng-container *ngIf="!isPortrait">
  <mat-toolbar>
    <button mat-raised-button color="primary" (click)="openForm()">
      Add task
    </button>

    <span class="spacer"></span>

    <a mat-icon-button routerLink="settings" class="edit-cont">
      <mat-icon class="edit">edit</mat-icon>
    </a>
  </mat-toolbar>

  <mat-card>
    <div class="head" [ngClass]="{ loading: loading }">
      <div class="logo" *ngIf="projData && projData.logo">
        <img [src]="projData.logo.url" [alt]="projData.logo.name" />
      </div>
      <h2 class="mat-title">{{ projData && projData.name }}</h2>
    </div>

    <div class="meta">
      <div class="col">
        <h3 class="title">Project Manager</h3>
        <p class="data" [ngClass]="{ loading: loading }">
          {{ projData && projData.projManager }}
        </p>
      </div>
      <div class="col">
        <h3 class="title">Start Date</h3>
        <p class="data" [ngClass]="{ loading: loading }">
          {{ projData && projData.startDate }}
        </p>
      </div>
    </div>
    <div class="meta" *ngIf="projData && projData.description">
      <div>
        <h3 class="title">Description</h3>
        <p class="data">{{ projData.description }}</p>
      </div>
    </div>

    <app-chart-cont
      *ngIf="ganttDataRaw.length"
      [chartDataRaw]="ganttDataRaw"
    ></app-chart-cont>
    <mat-spinner *ngIf="!ganttDataRaw.length" class="spinner"></mat-spinner>
  </mat-card>
</ng-container>

<div *ngIf="isPortrait" class="message">Please turn the device into landscape mode</div>
