<mat-toolbar>
  <button mat-raised-button color="primary" (click)="openForm()">
    Add task
  </button>

  <span class="spacer"></span>

  <a mat-button routerLink="settings"><mat-icon>settings</mat-icon></a>
</mat-toolbar>

<mat-card>
  <div class="head">
    <div class="logo" *ngIf="projData?.logo">
      <img [src]="projData.logo.url" [alt]="projData.logo.name" />
    </div>
    <h2 class="mat-title">{{ projData?.name }}</h2>
  </div>

  <app-chart-cont
    *ngIf="ganttDataRaw.length"
    [chartDataRaw]="ganttDataRaw"
  ></app-chart-cont>
</mat-card>
