.mat-card {
  max-width: 1300px;
  margin: auto;
}

.spacer {
  flex: 1 1 auto;
}

.toggle {
  font-size: initial;
  font-weight: initial;
}

.menu {
  height: 40px;
  width: 40px;
  line-height: 40px;
}
