@import "../../../assets/scss/variables";

.head {
  display: flex;
  align-items: center;

  &.loading {
    height: 32px;
    margin-bottom: 16px;
    max-width: 400px;
  }
}

.edit-cont {
  padding: 0;
  min-width: 36px;
}

.edit {
  font-size: 18px;
}

.logo {
  height: 42px;
  margin-bottom: 16px;
  margin-right: 16px;

  img {
    height: 100%;
  }
}

.mat-card {
  margin: 13px;

  @media (max-width: $mobile) {
    margin: 13px 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

.toggle {
  font-size: initial;
  font-weight: initial;
}

.menu {
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.meta {
  display: flex;
  flex-wrap: wrap;

  .col {
    margin-right: 16px;
    min-width: calc(50% - 8px);

    &:last-child {
      margin-right: 0;
    }
  }

  .title {
    font-size: 12px;
    color: rgba(27, 17, 17, 0.54);
    margin-bottom: 8px;
  }

  .data {
    margin-top: 0;
    margin-bottom: 16px;

    &.loading {
      height: 19px;
      max-width: 200px;
    }
  }
}
