<form class="gantt-form" [formGroup]="taskForm">
  <mat-form-field class="full-width">
    <mat-label>Name *</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <div class="full-width" [ngClass]="taskForm.value.isSubtaskPresent == 'yes' ? 'large-padding' : 'small-padding'">
    <mat-label class="full-width label mat-h4">Has Subtask</mat-label>
    <mat-radio-group formControlName="isSubtaskPresent">
      <mat-radio-button value="yes" class="half-width">Yes</mat-radio-button>
      <mat-radio-button value="no" class="half-width">No</mat-radio-button>
    </mat-radio-group>
  </div>

  <ng-container *ngIf="taskForm.value.isSubtaskPresent == 'no'">
    <mat-form-field class="full-width">
      <mat-label>Owner *</mat-label>
      <input matInput formControlName="owner" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Start Date *</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Duration *</mat-label>
      <input type="number" matInput formControlName="duration" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Percent Complete *</mat-label>
      <input type="number" matInput formControlName="percentComplete" />
    </mat-form-field>
  </ng-container>

  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="taskForm.invalid || isSubmitButtonDisable"
  >
    Submit
  </button>
</form>
