<form class="gantt-form" [formGroup]="ganttForm">
  <mat-form-field class="full-width">
    <mat-label>Label *</mat-label>
    <input matInput formControlName="label" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Start Date *</mat-label>
    <input
      matInput
      [matDatepicker]="startDatePicker"
      formControlName="startDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Duration *</mat-label>
    <input type="number" matInput formControlName="duration" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Depends On</mat-label>
    <mat-select formControlName="dependsOn" multiple>
      <mat-option *ngFor="let option of dependencyOptions" [value]="option.value">{{option.display}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="ganttForm.invalid || isSubmitButtonDisable">Submit</button>
</form>
