.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 200px;
}

.heading {
  margin-left: 8px;
}

.nav-icon {
  margin-right: 8px; 
}
