<div class="table">
  <ul>
    <li class="heading">
      <div class="icon"></div>
      <div class="name">Task</div>
      <div class="col">Owner</div>
      <div class="col">Start date</div>
      <div class="col">End date</div>
      <div class="col">Duration</div>
      <div class="col">% Complete</div>
    </li>
  </ul>
  <ul class="body">
    <ng-template ngFor let-task [ngForOf]="chartData" let-taskId="index">
      <li class="task">
        <div class="icon">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editTask(task)">Edit</button>
            <button mat-menu-item (click)="addSubtask(task)">
              Add sub-task
            </button>
            <button mat-menu-item [matMenuTriggerFor]="moveTask">Move</button>
            <button mat-menu-item (click)="deleteTask(task)" color="warn">
              Delete
            </button>
          </mat-menu>

          <mat-menu #moveTask="matMenu">
            <button
              mat-menu-item
              (click)="moveTasks(taskId, eMove.UP)"
              [disabled]="taskId === 0"
            >
              Move Up
            </button>
            <button
              mat-menu-item
              (click)="moveTasks(taskId, eMove.DOWN)"
              [disabled]="taskId === chartData.length - 1"
            >
              Move Down
            </button>
          </mat-menu>
        </div>
        <div class="name">{{ task.name }}</div>
      </li>
      <li *ngFor="let subtask of task.subtasks; let id = index" class="subtask">
        <div class="icon">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editSubtask(taskId, id)">
              Edit
            </button>
            <button mat-menu-item [matMenuTriggerFor]="moveSubtask" [disabled]="task.subtasks.length <= 1">Move</button>
            <button
              mat-menu-item
              (click)="deleteSubtask(taskId, id)"
              color="warn"
            >
              Delete
            </button>
          </mat-menu>
          
          <mat-menu #moveSubtask="matMenu">
            <button
              mat-menu-item
              (click)="moveSubtasks(taskId, id, eMove.UP)"
              [disabled]="id === 0"
            >
              Move Up
            </button>
            <button
              mat-menu-item
              (click)="moveSubtasks(taskId, id, eMove.DOWN)"
              [disabled]="id === task.subtasks.length - 1"
            >
              Move Down
            </button>
          </mat-menu>
        </div>
        <div class="name" [title]="subtask.name">{{ subtask.name }}</div>
        <div class="col" [title]="subtask.owner">{{ subtask.owner }}</div>
        <div class="col">{{ subtask.startDate?.format("DD MMM, YY") }}</div>
        <div class="col">{{ subtask.endDate?.format("DD MMM, YY") }}</div>
        <div class="col">{{ subtask.duration?.join(" ") }}</div>
        <div class="col">{{ subtask.percentComplete }}</div>
      </li>
    </ng-template>
  </ul>
</div>
