@import "../../../assets/scss/variables";

.mat-card {
  margin: 13px;

  @media (max-width: $mobile) {
    margin: 13px 0;
  }
}

.dropzone {
  padding: 32px;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.logo-cont {
  height: 180px;
}

.logo {
  max-height: 100%;
}