<div class="chart" #chart>
  <!-- Date row -->
  <ul>
    <li class="heading" [ngStyle]="{ 'width.px': dates.length * colWidth }">
      <div class="date-col" *ngFor="let date of dates">
        {{ date.format("DD MMM") }}
      </div>
    </li>
  </ul>

  <!-- Chart -->
  <ul>
    <ng-template ngFor let-task [ngForOf]="chartData" let-taskId="index">
      <!-- Task -->
      <li
        class="task-row task"
        [ngStyle]="{ 'width.px': dates.length * colWidth }"
      >
        <div class="date-col" *ngFor="let date of dates"></div>
        <div
          #tasks
          *ngIf="task.startDate"
          class="bar task blue"
          [ngStyle]="{
            'left.px': task.left * colWidth,
            'width.px': task.duration[0] * colWidth
          }"
        >
          <div
            class="percent-bar blue"
            [ngStyle]="{
              'width.px':
                (task.duration[0] * colWidth * task.percentComplete) / 100
            }"
          ></div>
          <label class="name">{{ task.name }}</label>
        </div>
      </li>
      <li
        *ngFor="let subtask of task.subtasks; let id = index"
        class="task-row"
        [ngStyle]="{ 'width.px': dates.length * colWidth }"
      >
        <div class="date-col" *ngFor="let date of dates"></div>
        <div
          #tasks
          class="bar subtask blue"
          [ngStyle]="{
            'left.px': subtask.left * colWidth,
            'width.px': subtask.duration[0] * colWidth
          }"
        >
          <div
            class="percent-bar blue"
            [ngStyle]="{
              'width.px':
                (subtask.duration[0] * colWidth * subtask.percentComplete) / 100
            }"
          ></div>
          <label class="name">{{ subtask.name }}</label>
        </div>
      </li>
    </ng-template>
  </ul>

  <!-- Dependency lines -->
  <div class="dependency-area">
    <div *ngFor="let depPoint of dependencyPoints">
      <svg
        [ngStyle]="{
          top: depPoint.top,
          left: depPoint.left,
          width: depPoint.right - depPoint.left,
          height: depPoint.bottom - depPoint.top + 18
        }"
      >
        <polyline
          [attr.points]="depPoint.points"
          stroke="#ff4081"
          fill="none"
        />
        <polygon [attr.points]="depPoint.triangle" fill="#ff4081"></polygon>
      </svg>
    </div>
  </div>
</div>
