@import "../../../assets/scss/variables.scss";

.chart-container {
  display: flex;
  margin-top: 16px;
  position: relative;
}

.gantt-table-container {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.gantt-chart-cintainer {
  overflow-x: auto;
}

.resize-handle {
  position: absolute;
  width: 5px;
  height: 100%;
  cursor: e-resize;
  touch-action: none;
}
